.videobless-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    max-width: 400px;
    padding: 0;
    margin-bottom: 4%;
    border-radius: 10px;
    background-color: white;
    box-shadow: #111010 0px 0px 10px;
}

.videobless-video {
    width: 100%;
    height: auto;
    border-radius: 9px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-self: center;
}