.imagebless-post {
    display: flex;
    flex-direction: column;  /* מסדר את האלמנטים אחד מתחת לשני */
    align-items: center;  /* יישור למרכז האופקי */
    justify-content: center;  /* יישור למרכז האנכי */
    text-align: center;
    width: 90%;
    max-width: 400px;
    margin-left: 5%;
    margin-right: 5%;
    
    margin-bottom: 5%;
    z-index: 3; /* על פני התמונה */
    border-radius: 10px;
    background-color: white;
    box-shadow: #111010 0px 0px 10px; /* הצללה */
}

.imagebless-img {
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height: 400px; /* התאמה לפי הצורך */
    border-radius: 10px; /* הוספת עיגול פינות */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* הצללה קלה */
    align-self: center;
}